<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UserLoginServlet</servlet-name>
        <servlet-class>controller.UserLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLogoutServlet</servlet-name>
        <servlet-class>controller.UserLogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLoginServlet</servlet-name>
        <servlet-class>controller.AdminLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfileServlet</servlet-name>
        <servlet-class>controller.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCandidateServlet</servlet-name>
        <servlet-class>controller.ViewCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <servlet-class>controller.DeleteCandidateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminProfileServlet</servlet-name>
        <servlet-class>controller.AdminProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AListElectionServlet</servlet-name>
        <servlet-class>controller.AListElectionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UListElectionServlet</servlet-name>
        <servlet-class>controller.UListElectionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserLoginServlet</servlet-name>
        <url-pattern>/user_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLogoutServlet</servlet-name>
        <url-pattern>/user_logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserProfileServlet</servlet-name>
        <url-pattern>/user_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCandidateServlet</servlet-name>
        <url-pattern>/viewCandidate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteCandidateServlet</servlet-name>
        <url-pattern>/DeleteCandidateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLoginServlet</servlet-name>
        <url-pattern>/admin_login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminProfileServlet</servlet-name>
        <url-pattern>/admin_profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AListElectionServlet</servlet-name>
        <url-pattern>/admin_list_election</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UListElectionServlet</servlet-name>
        <url-pattern>/user_list_election</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>jdbc/USCES</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
</web-app>
